<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>


<header th:replace="fragments/header"></header>

<!--
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Eligir por categoria
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a href="/games/">All</a></li>
        <li th:each="category: ${categories}">
            <a th:href="${'/games?category='+category.name}"
               th:text="${category.name}">
            </a>
        </li>
    </ul>
</div>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">
        Eligir por PEGI
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
        <li><a href="/games/">All</a></li>
        <li th:each="pegi: ${pegies}">
            <a th:href="${'/games?pegi='+pegi.name}"
               th:text="${pegi.name}">
            </a>
        </li>

    </ul>
</div>

-->
<section class="card">

    <div class="d-inline-flex" sec:authorize="isAnonymous()">
        <div th:each="game: ${games}" class="card border-0 " style="margin: 20px">
            <img th:src="${game.image}" class="card-img-top"
                 alt="Card image cap">
            <div class="shadow bg-dark text-white card-body ">
                <h5 th:text="${game.title}" class="card-title"></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <h6 th:text="${game.category}"></h6>
                <h6 th:text="${game.pegi}+'+'"></h6>
                <h6 th:text="${game.price}+'€'"></h6>

            </div>
        </div>
    </div>

</section>

<section>


    <table class="table table-dark table-striped" sec:authorize="isAuthenticated()">
        <thead>
        <tr>

            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Pegi</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>


        </tr>
        </thead>
        <tbody class="card-body" th:each="game: ${games}">

        <tr>
        <th scope="row" th:text="${game.id}"></th>
        <td  th:text="${game.title}"></td>
        <td  th:text="${game.category}"></td>
        <td  th:text="${game.pegi}"></td>
        <td  th:text="${game.price}+'€'"></td>



        <td><a class="btn btn-success btn-sm"  th:href="'/games/edit/'+${game.id}">Edit</a>
        </td>
        <td><a class="btn btn-danger btn-sm"
               th:href="'/games/delete/'+${game.id}">Delete</a></td>

        </tr>

        </tbody>
    </table>
    <footer th:replace="fragments/footer"></footer>


</section>
</body>
</html>
