
<head th:replace="fragments/head"></head>


<body>
<header th:replace="fragments/header"></header>

    <section class="card">

        <div class=“d-flex flex-row flex-sm-wrap align-items-center bd-highlight mb-5”>
            <div class="card" style="width: 18rem;" th:each="game: ${games}">
                <div class="card-body">

                   <img class="card-image-top" alt="cover" th:src="${game.coverImage}">

                    <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="${game.title}"></li>
                    <li class="list-group-item" th:text="${game.category}"></li>
                    <li class="list-group-item" th:text="${game.pegi}"></li>
                    <li class="list-group-item" th:text="${game.price}"></li>
                     </ul>
                </div>


                <div class="buttons">
                    <a class="btn btn-success btn-sm" th:href="'/games/'+${game.id} + '/edit'">Edit</a>
                    <a class="btn btn-danger btn-sm" th:href="'/games/'+${game.id} + '/delete'">Delete</a>
                </div>
            </div>
        </div>
    </section>
    <!--
      <div class="table-responsive">
         <table class="table table-dark table-striped">
          <thead>
          <tr>

              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Pegi</th>
              <th scope="col">Price</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
              <th scope="col"><a class="btn btn-dark btn-sm"  href="/games/new"+${game.id}>+</a></th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="game: ${games}">
              <th scope="row" th:text="${game.id}"></th>
              <td th:text="${game.title}"></td>
              <td th:text="${game.category}"></td>
              <td th:text="${game.pegi}"></td>
              <td th:text="${game.price}+'€'" ></td>
              <td><a class="btn btn-success btn-sm" th:href="'/games/edit/'+${game.id}">Edit</a></td>
              <td><a class="btn btn-danger btn-sm" th:href="'/games/delete/'+${game.id}">Delete</a></td>
              <td ></td>

          </tr>
          </tbody>
      </table>
              </div>
          </section> -->

    <footer th:replace="fragments/footer"></footer>

</body>
     </html>